APP_NAME=code-execution-api
APP_HOST=localhost
APP_PORT=8080

POSTGRES_URL=postgres://postgres:postgres@localhost:5434/postgres?sslmode=disable
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

EUREKA_ENABLED=true
EUREKA_BASE_URL=http://localhost:8761/eureka
EUREKA_USERNAME=
EUREKA_PASSWORD=
EUREKA_SERVICE_NAME=CODE-EXECUTION-API
EUREKA_PORT=
EUREKA_INSTANCE_ID=
EUREKA_IP_ADDR=localhost
EUREKA_HEARTBEAT_INTERVAL=30s

EXECUTION_TIMEOUT_MS=2000
EXECUTION_MEMORY_LIMIT_MB=128
EXECUTION_CPU_LIMIT_MS=1000

SANDBOX_DOCKER_BINARY=docker
SANDBOX_PYTHON_IMAGE=python:3.12-alpine
SANDBOX_JAVASCRIPT_IMAGE=node:20-alpine
SANDBOX_JAVA_IMAGE=eclipse-temurin:21-jdk-alpine
SANDBOX_CPP_IMAGE=gcc:14

REQUESTED_EVENT_EXCHANGE=challenges.solutions.exchange
REQUESTED_EVENT_QUEUE=codeexecution.solution.execution.requested
REQUESTED_EVENT_ROUTING_KEY=challenges.solution.execution.requested
EXECUTION_EVENT_EXCHANGE=codeexecution.exchange
STARTED_EVENT_ROUTING_KEY=codeexecution.solution.execution.started
COMPLETED_EVENT_ROUTING_KEY=codeexecution.solution.execution.completed
